<%- include ('partials/header'); %>

    <body>
        <h2>Compose</h2>

        <form action="/compose" method="post">
            <div class="form-group">
                <label class="form-check-label" for="postTitle">Title</label>
                <input class="form-control" type="text" id="postTitle" name="postTitle">
                <label class="form-check-label" for="postContent">Post</label>
                <textarea class="form-control" rows="5" col="30" id="postContent" name="postContent"></textarea>
            </div>
            <button class="btn btn-primary" type="submit">Publish</button>
        </form>

    </body>
    <%- include ('partials/footer'); %>