<%- include ('partials/header'); %>
<body>
    
    <h2>Compose</h2>
    <form action="./home" method="post">
        <input type="text" id="newInput" name="newInput">
        <button type="submit">Publish</button>
    </form>
    
</body>
<%- include ('partials/footer'); %>